.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}

.attribution a {
    color: hsl(0, 0%, 100%);
}

body {
    background-color: hsl(233, 47%, 7%);
}
.main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 981px;
    height: 447px;
    background-color: hsl(244, 38%, 16%);
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(7,auto);
    justify-content: stretch;

    
}
.child{
    padding: 70px 70px;
    width: 300px;
}
p.p1{
    text-transform: uppercase;
    font-size: 15px;

}
h1 {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 28px;
    
    

}
h2{
    color: white;
}
span{
    color: hsl(277, 64%, 61%);
}
p {
    grid-row-start: 2;
    color:hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
}
div.state{
    display: flex;
    justify-content: space-between;
    grid-row-start: 5;
}

section{
    width: 539px;
    height: 446px;
    background: url(images/image-header-desktop.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.color{
    position: absolute;
    top: 0;
    left: 0;
    width: 539px;
    height: 446px;
    background:  hsla(276, 57%, 24%, 0.722) ;
}

/* 
.father {
    display: grid;
    grid-template-columns: repeat(2, 500px);


}



.father img {
    display: grid;
    grid-column-start: 2;
}



table {
    text-align: left;
    border-spacing: 15px;
}

tr.two {
    text-transform: uppercase;
    font-size: 13px;
    color: hsla(0, 0%, 100%, 0.6);
}

.state {
    display: flex;



}
img{
    position: absolute;
    width: 550px;
    right: 0px;
    height: 500px;
    padding-right: 178px;
    padding-top: 151px;

}

.maindiv {
    color: white;
    display: flex;
    padding-left: 200px;
    width: 1000px;
    height: 500px;
    justify-content: center;
    flex-direction: column;
   
    margin-top: 150px;
    margin-left: 150px;



} */